# Frontend
frontend/node_modules/
frontend/dist/

# Backend Spring Boot
backend/target/
backend/*.jar

# Backend Node.js
backend-node/node_modules/

# Entorno
*.env.local

# IDEs
.idea/
.vscode/
*.iml

# Docker
docker-compose.override.yml